body {
   
}

#container {
	background-image: url("images/bg-image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 50px 0 0 0;
}

#buttons {
	text-align: center;
	margin: 2rem;
}

.button1 {
    background-color: #4c94af; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
}
.button1:hover {
  box-shadow: 0 4px 15px rgba(33,33,33,.2); 
}

.button2 {
    background-color: #8c8c8c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
}
.button2:hover {
  box-shadow: 0 4px 15px rgba(33,33,33,.2); 
}

.button3 {
    background-color: #bd3c3c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
}
.button3:hover {
  box-shadow: 0 4px 15px rgba(33,33,33,.2); 
}

.button4 {
    background-color: #bda73c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
}
.button4:hover {
  box-shadow: 0 4px 15px rgba(33,33,33,.2); 
}

.button5 {
    background-color: #4c94af; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-out;
}
.button5:hover {
  box-shadow: 0 4px 15px rgba(33,33,33,.2); 
}

.title {
	background-image: url("images/bg-image.png");
    background-position: center;
    width: 100%;
}